<a href="https://colab.research.google.com/github/TonyReyes24/edd11310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ##Intro Python 3
###Variables
tipo dinámico
escuela = "Fes Aragón"

In [30]:
escuela = "FES Aragón"
print(escuela)
print("-----------")
edad = 13
esttura = 1.81
fumador = True
frase = """
Esta es 
una 
frase 
de multiples líneas
y tambien es 
un típo de dato
"""
print(frase)
nombre = 'marco'
nombre_completo = "marco antonio campos reyes"

FES Aragón
-----------

Esta es
una
frase
de multiples líneas
y tambien es
un típo de dato

# #Print
con comas ,     
con signo de mas +      
con format ()     
con el operador f""

In [27]:
#Imprime las dos variables especificadas en el codigo de arriba
print(nombre, edad)

Marco 13

In [28]:
# + concatena
print(nombre + str(edad))
print(nombre + nombre_completo)

Marco13
Marcomarco antonio campos reyes

In [29]:
#con formato ---> Su nombre es Marco y su edad es 13 años.
print("Su nombre es", nombre, "y su edad es de" ,edad, "años.")
print("Su nombre es {0} y su edad es de {1} años.".format(nombre, edad) )
print("Su nombre es {1} y su edad es de {0} años.".format(nombre, edad) )

Su nombre es Marco y su edad es de 13 años.
Su nombre es Marco y su edad es de 13 años.
Su nombre es 13 y su edad es de Marco años.

In [18]:
# con formato con el operador f"" 
print(f"Su nombre es \"{nombre}\" y su edad es de {edad} años.")

Su nombre es "Marco" y su edad es de 13 años.

#Carácter de escape
\n salto de linea
\t tabulador
\a beeb
\" imprimir comilla doble
\\'imprimir comilla simple

In [21]:
"""
Esto es 
un comentario
de múltiple linea
tan tan
"""
print(f"\tMi nombre es\n\t\t {nombre}")

	Mi nombre es
		 Marco

# #Ayuda de tipos de dato en Python
dir() me dice los metodos que tiene el tipo de dato de forma superficial     
help() hace lo mismo que dir pero mas a profundidad

In [ ]:
# str, int, float, bool ... list, dict, set
help(str)

In [35]:
print(nombre_completo.capitalize() )
print(nombre_completo.upper() , end="----" )
print(nombre_completo.title() )

Marco antonio campos reyes
MARCO ANTONIO CAMPOS REYES----Marco Antonio Campos Reyes

In [ ]:
help(print)

## clase String
Es manejada como un arreglo (c o java) o lista (python)
telefono = "Huawei mate 30 pro"
print(telefono[0])

In [42]:
teléfono = "Huawei mate 30 pro"
print(teléfono[5] )

i

## Slicing (rebanado)
[ini:stop:incremento]
Nota: El stop no se incluye, termina en el valor anterior al stop

In [53]:
print(teléfono[7:11:1])
# El inicio y el incremento son opcionales
print(teléfono[:11:])
#El valor por defecto de stop es len(str)
print(teléfono[::])
#incremento negativo
print(teléfono[::-1])
# slacing negativo
ini = -3
inc = 1
print(teléfono[ini::inc])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro

## Métodos de String (str)
Existen métodos muy útiles en esta clse.

In [76]:
facultad="    facultad de estudios superiores aragon      \n"
print(facultad)
print(facultad.count("u") ) #cuenta el numero de elementos en la cadena
print(facultad.find("s") )  #dice el numero de espacio o caracter del cprimer caracter que se le indica, en este caso el numero de espacio en que la primera S se encuentra, comenzando desde 0
print(facultad.strip() )    #Elimina los espacios en blanco y Saltos de linea
tamaño = len(facultad)
print(len(facultad))
print(f"tamaño de la cadena es {tamaño} caracteres")
print(facultad)
print(facultad.strip().split(" "))

print("-------------------")
# copiar cadenas
otra_cadena = facultad
print(otra_cadena)
facultad = "FES Aragón"
print(facultad)
print(otra_cadena)

# copiar listas
colores = ["rojo", "verde"]
otra = colores
print(colores)
print(otra)
otra.append("rosa")
print(colores)
print(otra)

    facultad de estudios superiores aragon

3
17
facultad de estudios superiores aragon
49
tamaño de la cadena es 49 caracteres
    facultad de estudios superiores aragon

['facultad', 'de', 'estudios', 'superiores', 'aragon']
-------------------
    facultad de estudios superiores aragon

FES Aragón
    facultad de estudios superiores aragon

['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']
['rojo', 'verde', 'rosa']