<a href="https://colab.research.google.com/github/TonyReyes24/edd11310_2021/blob/master/6octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 #String continuacion

frase = "Si funciona... no lo compongas!!!"
numeros_txt = "    1, 2, 3, 4    , 5   , 35   , 15  , 12"
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')
print(numeros_txt)

for j in range(len(numeros_txt)):
  numeros_txt[ j ] = int(numeros_txt[j].strip())

print(numeros_txt)

# funcion range

# range(inicio, stop, incremento )
print(range(1, 10, 3))
rango = range(1, 10, 2)

for x in rango:
  print(x)

rango = range(10)
for x in rango:
  print(x)

# listas
- mutables
- declaran con [ ]
- selector [ int ]
- pueden ser de cualquier tipo y mezclado
# tuplas
- NO mutables
- declaran con ( )
- selectos [ int ]

# diccionarios
- son mutables
- son conjunto de pares llave:valor
- Equivalentes a los objetos JSON de JavaScript

# conjuntos
- representaciÃ³n de la teoria de conjuntos

In [40]:
# Listas
frutas = [ "Pera" , "Manzana", "fresa", "Kiwi", "Naranja"]
print(frutas)
 # en las listas se pueden agregar String, Float, true, false etc..
cosas = ["Cuaderno", 2 , 3.1416 , True , False , ["Rojo" , "Azul"] ]
print(cosas)
frutas[2] = "Fresa" # frutas[2] = frutas[2].capitalize()
print(frutas)
# agregar a una lista
frutas.append("Aguacate") #Agregar una variable a la lista
print(frutas)
frutas.insert(2,"Sandia") #Poner algo antes de una variable, en este caso sandia antes de fresa
print(frutas)

# concatenar listas
fecha = ["06", "10", "2020"] #formato fecha 06/10/2020
print(fecha)
fecha_str = "/".join(fecha)
print(fecha_str)

['Pera', 'Manzana', 'fresa', 'Kiwi', 'Naranja']
['Cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Pera', 'Manzana', 'Sandia', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['06', '10', '2020']
06/10/2020

In [ ]:
# eliminar elementos
cosas = ["Cuaderno", 2 , 3.1416 , True , False , ["Rojo" , "Azul"] ]
print(cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print(cosas)
algo = cosas.pop() #pop quita lo que haya en la posicion que yo le indique de la lista en este caso el numero 2, ya que se empieza desde 0 y toca a 3.1416
print(cosas)
print(algo)

algo = cosas.pop(2)
print(cosas)
print(algo)
cosas.remove(2)
print(cosas)

# vaciar una lista

# cosas.clear()
print(cosas)

# ordenar la lista
print(frutas)
frutas.sort()
print(frutas)

In [ ]:
# Silicing

cosas = ["Cuaderno", 2 , 3.1416 , True , False , ["Rojo" , "Azul"] ]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1])

numeros= [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15] #el tope no se incluye
print(numeros[8:12:1])
print(numeros [:13:]) # imprime de 0 a 12 porque el tope no se incluye
print(numeros[8:13:])

# Sustituir -2,-2 ----> [0,1,2,3,4,5,6,7,-2,-2,13,14,15]

numeros[8:13:] = [-2,-2]
print(numeros)

# preguntar por existencia

print(-2 in numeros)
print(-100 in numeros)

## Listas multidimension
listas dentro de listas

In [65]:
computadoras = ["HP", "Mac book Pro 17", "Mate book", "Lenovo legion" ]
oss_operativos = [ "Windows 10", "Linux", "Android", "iOS" ]

computo = [computadoras, oss_operativos ]
print(computo[0])
print(oss_operativos[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][5: :-1])
print(computo[0][3][-8: :-1])
print("Linux" in computo[1])
dbms = [ ["Mysql", "Open Source", False] ,["MS SQL Server", "de paga", True] ]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['HP', 'Mac book Pro 17', 'Mate book', 'Lenovo legion']
Linux
Mate book
Mate
ovoneL
ovoneL
True
[['HP', 'Mac book Pro 17', 'Mate book', 'Lenovo legion'], ['Windows 10', 'Linux', 'Android', 'iOS'], [['Mysql', 'Open Source', False], ['MS SQL Server', 'de paga', True]]]
Mysql
de paga

In [ ]:
help(list)